In [1]:
from pyspark.sql import SparkSession, functions as F

In [30]:
import pandas as pd

In [31]:
! pip install boto3

Collecting boto3
  Downloading boto3-1.38.23-py3-none-any.whl.metadata (6.6 kB)
Collecting botocore<1.39.0,>=1.38.23 (from boto3)
  Downloading botocore-1.38.23-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.14.0,>=0.13.0 (from boto3)
  Downloading s3transfer-0.13.0-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.12/site-packages (from botocore<1.39.0,>=1.38.23->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.12/site-packages (from botocore<1.39.0,>=1.38.23->boto3) (2.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.39.0,>=1.38.23->boto3) (1.16.0)
Downloading boto3-1.38.23-py3-none-any.whl (139 kB)
Downloading botocore-1.38.23-py3-none-any.whl (13.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.6/13.6 MB 42.4 MB/s eta 0:00:00 0:00:01
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.13.0-py3-none-any.whl (85 kB)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.38.23 botocore-1.38.23 jmespath-1.0.1 s3transfer-0.13.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [3]:
spark = SparkSession.builder \
.appName("Explore NYC Taxi") \
.master("local[2]") \
.config("spark.driver.memory", "2G" ) \
.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/24 08:44:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.range(100).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [5]:
!mkdir datasets

In [6]:
! wget -P datasets/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet https://github.com/erkansirin78/datasets/raw/refs/heads/master/yellow_tripdata_partitioned_by_day/year=2024/month=5/day=24/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet

--2025-05-24 08:47:11--  https://github.com/erkansirin78/datasets/raw/refs/heads/master/yellow_tripdata_partitioned_by_day/year=2024/month=5/day=24/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erkansirin78/datasets/refs/heads/master/yellow_tripdata_partitioned_by_day/year%3D2024/month%3D5/day%3D24/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet [following]
--2025-05-24 08:47:12--  https://raw.githubusercontent.com/erkansirin78/datasets/refs/heads/master/yellow_tripdata_partitioned_by_day/year%3D2024/month%3D5/day%3D24/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2050995 (2.0M) [application/octet-stream]
Saving to: ‘datasets/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet’

part-00114-5bd1507a 100%[===================>]   1.96M  --.-KB/s    in 0.09s

2025-05-24 08:47:12 (21.8 MB/s) - ‘datasets/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet’ saved [2050995/2050995]

In [7]:
! wget -P datasets/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet https://github.com/erkansirin78/datasets/raw/refs/heads/master/yellow_tripdata_partitioned_by_day/year=2024/month=5/day=24/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet

--2025-05-24 08:49:01--  https://github.com/erkansirin78/datasets/raw/refs/heads/master/yellow_tripdata_partitioned_by_day/year=2024/month=5/day=24/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erkansirin78/datasets/refs/heads/master/yellow_tripdata_partitioned_by_day/year%3D2024/month%3D5/day%3D24/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet [following]
--2025-05-24 08:49:02--  https://raw.githubusercontent.com/erkansirin78/datasets/refs/heads/master/yellow_tripdata_partitioned_by_day/year%3D2024/month%3D5/day%3D24/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 273373 (267K) [application/octet-stream]
Saving to: ‘datasets/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet’

part-00115-5bd1507a 100%[===================>] 266.97K  --.-KB/s    in 0.03s

2025-05-24 08:49:02 (7.49 MB/s) - ‘datasets/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet’ saved [273373/273373]

In [13]:
df_00115 = spark.read.parquet("file:///datasets/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet")
df_00114 = spark.read.parquet("file:///datasets/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet")

In [14]:
df_00115.limit(5).toPandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-05-23 20:55:00,2024-05-24 11:20:00,NaN,34.48,NaN,None,97,210,0,11.98,0.0,0.5,2.7,0.0,1.0,16.18,NaN,NaN
1,2,2024-05-23 23:56:00,2024-05-24 00:03:00,NaN,1.31,NaN,None,186,68,0,10.63,0.0,0.5,0.0,0.0,1.0,14.63,NaN,NaN
2,2,2024-05-23 23:47:34,2024-05-24 00:01:47,NaN,1.92,NaN,None,50,164,0,26.59,0.0,0.5,0.0,0.0,1.0,30.59,NaN,NaN
3,2,2024-05-23 23:48:57,2024-05-24 00:05:58,NaN,4.03,NaN,None,80,146,0,21.28,0.0,0.5,0.0,0.0,1.0,22.78,NaN,NaN
4,2,2024-05-23 23:57:20,2024-05-24 00:28:01,NaN,0.00,NaN,None,211,74,0,34.32,0.0,0.5,0.0,0.0,1.0,38.32,NaN,NaN

In [18]:
df_00115.count()

11518

In [19]:
df_00114.count()

98087

In [15]:
df_00115.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [16]:
df = df_00114.union(df_00115)

In [17]:
df.count()

109605

In [ ]:
# Github'dan lokale ilgili günün verisini indir
# lokalden s3'e veriyi yükle ilgili dizine

In [27]:
import os
import requests

repo_owner = "erkansirin78"
repo_name = "datasets"
branch = "master"
repo_sub_dir = "yellow_tripdata_partitioned_by_day"
year = 2024
month = 5
day = 23

# Format month and day as zero-padded
month_str = str(month).zfill(2)
day_str = str(day).zfill(2)

def download_github_dir(url):
    filename = url.split("/")[-1]
    output_path = os.path.join(f"yellow_tripdata_{year}_{str(month).zfill(2)}_{str(day).zfill(2)}", filename)
    os.makedirs(os.path.dirname(output_path), exist_ok=True)

    response = requests.get(url)
    if response.status_code == 200:
        with open(output_path, 'wb') as f:
            f.write(response.content)
        print(f"Downloaded to {output_path}")
    else:
        print(f"Failed to download file: {response.status_code} from {url}")

def download_all_files_for_day(repo_owner, repo_name, branch, repo_sub_dir, year, month, day):
    # Format strings
    month_str = str(month).zfill(2)
    day_str = str(day).zfill(2)

    # GitHub API URL to list files
    api_url = f"https://api.github.com/repos/{repo_owner}/{repo_name}/contents/{repo_sub_dir}/year={year}/month={month}/day={day}?ref={branch}"
    response = requests.get(api_url)

    if response.status_code == 200:
        files = response.json()
        for file in files:
            if file["name"].endswith(".parquet"):
                download_url = file["download_url"]
                download_github_dir(download_url)
    else:
        print(f"Failed to list files: {response.status_code} - {response.text}")

In [28]:
# Call the function
download_all_files_for_day(repo_owner, repo_name, branch, repo_sub_dir, year, month, day)

Downloaded to yellow_tripdata_2024_05_23/part-00114-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet
Downloaded to yellow_tripdata_2024_05_23/part-00115-5bd1507a-125d-4ec6-8794-3ed02e45a45d.c000.snappy.parquet

In [32]:
import os
import boto3

def upload_to_s3(local_dir, bucket, s3_prefix, s3_endpoint, aws_access_key, aws_secret_key):
    """
    Uploads all files in `local_dir` to an S3 bucket using the given `s3_prefix` structure.

    Parameters:
    - local_dir (str): The base local directory to upload.
    - bucket (str): The S3 bucket name.
    - s3_prefix (str): Prefix path in the S3 bucket.
    - s3_endpoint (str): The endpoint URL of the S3 service (e.g., http://localhost:30900).
    - aws_access_key (str): AWS access key ID.
    - aws_secret_key (str): AWS secret access key.
    """

    s3 = boto3.client(
        "s3",
        endpoint_url=s3_endpoint,
        aws_access_key_id=aws_access_key,
        aws_secret_access_key=aws_secret_key,
    )

    for root, _, files in os.walk(local_dir):
        for file in files:
            local_path = os.path.join(root, file)
            relative_path = os.path.relpath(local_path, local_dir)
            s3_key = os.path.join(s3_prefix, relative_path).replace("\\", "/")

            print(f"Uploading {local_path} to s3://{bucket}/{s3_key}")
            s3.upload_file(local_path, bucket, s3_key)
            print("Upload complete.")

In [34]:
upload_to_s3(
    local_dir="yellow_tripdata_partitioned_by_day/year=2024/month=5/day=23",
    bucket="bronze",
    s3_prefix="yellow_tripdata_partitioned_by_day/year=2024/month=5/day=23",
    s3_endpoint="http://localhost:30900",
    aws_access_key="minioadmin",
    aws_secret_key="minioadmin123"
)